@page
@model SimpleAppWithEmptyTemplate1.Pages.TestModel
@{
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>Test</title>
</head>
<body>
    <div>
        <p>Hello from Razor Page for test2</p>
        <p>@ViewData["message"]</p>
    </div>
</body>
</html>
